html{
    -webkit-text-size-adjust: none;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#headWrapper{
    background-color: #3B4044;
}

header{
    padding:1em 2% .5em 2%;
}

header h1{
    font-size: 2.1em;
    color: #fff;
}

header h2{
    margin-top:.75em;
}

header.social{

margin: .75em 0;
}

header.social li{

    width: 25%;
    float: left;
    border: 1px solid rgba(255, 255, 255,0.2);
    background-color: rgba(255, 255, 255,0.1);
}

header.social li a{
    display: block;
    height: 30px;
    margin:2px 0;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}


header.social li.facebook a {

    background-position: center -30px;
}

header.social li.pinterest a {

    background-position: center -90px;
}

header.social li.twitter a {

    background-position: center 0px;
}

header.social li.plus a {

    background-position: center -60px;
}



header.social li a span{
    display: none;
}


#navWrapper{
    background-color: aqua;
    padding:.75em 2%;
}

button#showPhoneNav{

    color:#fff;
    font-weight: 600;
    display: block;
    border: 1px solid #222;
    border-raduis: 1.5em;
    background-color: rgba(0,0,0,0.6);
    width:100%;
    padding:.75em 0;

}

nav ul{
    border:1px #ccc solid;


}

nav ul li{
    margin: 0 2%;
    width: 46%;
    float:left;
}

nav ul li a{
    display:block;
    text-align: center;
    font-weight:600;
    text-decoration: none;
    background-color: rgba(0,0,0,0.16);
    margin: .2em 0;
    padding: .6em 0;
    border-radius: 1em;
}

nav ul li:first-child a{
    border-top:none;
}

footer{
    clear:both;
    font-size: .7em;
    color:#fff;
    padding:.6em;
    text-align: center;
}

footer a{
    color: #ffffff;
    
}


ul.social2{
    width: 200px;
    margin: 0 auto;


}

ul.social2 li span{
display: none;
}

ul.social2 li a{
    display: block;
    background-image: url(../images/icons2.png);
    width: 44px;
    height: 44px;
    margin: 3px;
    float: left;
}

ul.social2 li.twitter a{
    background-position: left 0px;
}

ul.social2 li.facebook a{
    background-position: left -44px;
}

ul.social2 li.pinterest a{
    background-position: left -132px;
}

ul.social2 li.plus a{
    background-position: left -88px;
}




ul.social2 li.twitter a:hover{
    background-position: right 0px;
}

ul.social2 li.facebook a:hover{
    background-position: right -44px;
}

ul.social2 li.pinterest a:hover{
    background-position: right -132px;
}

ul.social2 li.plus a:hover{
    background-position: right -88px;
}

.clearfix:after{
    content: "";
    diaplay:table;
    clear:both;
}